<%- include("partials/header") %>
<div class="row">
    <div class="col-md-4">
        <div class="container">
            <h1>My Lists</h1>
            <% todoLists.forEach((todoList) => { %>
                <h2><%= todoList.name %><i class="fas fa-plus"></i></h1>
            <% }); %>
        </div>
    </div>
    <div class="col-md-8">
        <div id="container">
            <% todoLists.forEach((todoList) => { %>
                <h2><%= todoList.name %><i class="fas fa-plus"></i></h1>
                <form id="todoform" action="/todolist" method="POST">
                    <input type="text" name="todo" placeholder="add new to-do item">
                </form>
                <ul class="todoList">
                    <% todoList.todoListItems.forEach(function(newTodo) { %>
                        <li class="todoItem"><span class="deleteIcon"><i class="fas fa-trash-alt"></i></span><%= newTodo.description %></li>
                    <% }); %> 
                </ul>
            <% }); %>
        </div>    
    </div>
</div>  
<%- include("partials/footer") %>